#welcome{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    display: flex;
    background: url(../../img/background-cover.jpg) no-repeat left top #666;
    background-size: cover;
    background-color: #3b6d9b;
    justify-content: center;
    align-items: center;
    transition: 0.3s width;
    .introduce{
        position: relative;
        z-index: 1;
        max-width: 620px;
        text-align: center;
        width: 80%;
        .tou{
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: inline-block;
                padding: 3px;
                background-color: white;
            }
        }
        h3{
            color: white;
            font-size: 2.1rem;
            font-weight: normal;
            margin-top: 8px;
            letter-spacing: 0.16em;
        }
        .geyan{
            color: #cccccc;
            font-size: 0.93rem;
            margin-top: 12px;
            letter-spacing: 0.2em;
        }
        hr:nth-of-type(1){
            width: 50%;
            margin: 20px auto;
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.14);
        }
        .introduce-1{
            color: white;
            font-size: 0.84rem;
            line-height: 1.7;
            margin: 0 26px;
        }
        hr:nth-of-type(2){
            width: 20%;
            margin: 20px auto;
            border: none;
            border-top: 1px solid rgba(255, 255, 255, 0.14);
        }
        .index-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            a{
                display: inline-block;
                padding: 10px 20px;
                color: white;
                letter-spacing: 0.1em;
                white-space: nowrap;
                border-radius: 20px;
                text-align: center;
                border: 1px solid white;
                margin: 0 6px;
                font-size: 0.7rem;
                font-weight: bold;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .contact{
            margin-top: 42px;
            a{
                color: white;
                font-size: 1.3rem;
                padding: 6px 8px;
                margin: 0 10px;
                opacity: 0.8;
                transition: 0.1s;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    .mark{
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(37, 104, 163, 0.6);
        background-image: linear-gradient(140deg,rgba(37, 104, 163, 0.6) 20%, rgba(18, 51, 80, 0.8));
        z-index: 0;
    }
}


//响应式适配
@media screen and (max-width: 600px){
    #welcome{
        height: 100%;
        width: 100%;
        .introduce{
            .tou{
                img{
                    width: 18vw;
                    height: 18vw;
                }
            }
            hr:nth-of-type(2){
                display: none;
            }
            .geyan{
                margin-top: 2vh;
            }
            .introduce-1{
                margin: 0 10vw;
                letter-spacing: 0.4vw;
            }
            .index-btn,.contact{
                display: none;
            }
        }
    }
}