// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
// Gitalk评论样式
.gt-container {
    max-width: 780px;
    margin: auto;
}

// 代码行号无法选中
.gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none; 
}

// 代码块名称居左
.post-content figure.highlight figcaption {
    text-align: left;
}

// 底部样式
.footer {
    height: 3rem; //行高
    line-height: 1.2rem; //行间距
}

// hexo引用名称下靠右
footer {
    text-align: right;
}