body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, '微软雅黑';
  width: 100%;
  height: 100%;
}
button,
input,
p,
li,
ul,
button {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body * {
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
}
input,
a,
button,
img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border-radius: 0;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
section {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}
.ready img {
  width: 100%;
  height: 100%;
}
.active {
  display: block;
}
.home {
  position: relative;
  height: auto;
}
.home .navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 1.33333333rem;
  width: 100%;
  background-color: #e2243b;
}
.home .navbar .btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  vertical-align: middle;
}
.home .navbar button:nth-of-type(1) {
  margin-left: 0.48148148rem;
  width: 0.7962963rem;
  height: 1rem;
  color: white;
  text-align: center;
}
.home .navbar button:nth-of-type(1) span:nth-of-type(1) {
  font-size: 0.68518519rem;
}
.home .navbar button:nth-of-type(1) span:nth-of-type(2) {
  font-size: 0.25925926rem;
  white-space: nowrap;
  position: relative;
  top: -3px;
}
.home .navbar button:nth-of-type(2) {
  margin-left: 0.66666667rem;
  width: 6.11111111rem;
  height: 0.92592593rem;
  background-color: white;
  color: #eb3235;
  text-align: left;
  position: relative;
}
.home .navbar button:nth-of-type(2) span {
  vertical-align: middle;
}
.home .navbar button:nth-of-type(2) span:nth-of-type(1) {
  font-size: 0.44444444rem;
  padding-left: 0.16666667rem;
}
.home .navbar button:nth-of-type(2) span:nth-of-type(2) {
  font-size: 0.38888889rem;
  padding-left: 0.11111111rem;
}
.home .navbar button:nth-of-type(2) span:nth-of-type(3) {
  position: relative;
  top: 2px;
  display: inline-block;
  float: right;
  margin: 0 0.16666667rem;
  font-size: 0.42592593rem;
}
.home .navbar button:nth-of-type(3) {
  color: white;
  width: 0.68518519rem;
  height: 1.05555556rem;
  margin-left: 0.37037037rem;
}
.home .navbar button:nth-of-type(3) span:nth-of-type(1) {
  font-size: 0.68518519rem;
  display: block;
}
.home .navbar button:nth-of-type(3) span:nth-of-type(2) {
  display: block;
  font-size: 0.25rem;
  white-space: nowrap;
}
.home article {
  margin-bottom: 1.22222222rem;
}
.home article .banner {
  width: 800%;
  margin-top: 1.33333333rem;
  height: 3.12962963rem;
  background-color: aqua;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.home article .banner li {
  width: 10rem;
  height: 3.12962963rem;
  float: left;
}
.home article .banner li a {
  width: 10rem;
  height: 3.12962963rem;
}
.home article .banner li a img {
  width: 10rem;
  height: 3.12962963rem;
}
.home article .img-circle {
  position: absolute;
  width: 2rem;
  height: 0.16666667rem;
  top: 4.07407407rem;
  right: 0.22222222rem;
}
.home article .img-circle span {
  float: left;
  display: block;
  margin-right: 0.08333333rem;
  box-sizing: border-box;
  width: 0.16666667rem;
  height: 0.16666667rem;
  border: 0.01851852rem #808080 solid;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
.home article .img-circle .active {
  background-color: #ff5000;
}
.home article .banner-2 {
  margin-top: 0.16666667rem;
  width: 100%;
  height: 2.12962963rem;
}
.home article .banner-2 li {
  float: left;
  width: 4.77777778rem;
  height: 100%;
}
.home article .banner-2 li img {
  width: 4.77777778rem;
  height: 100%;
}
.home article .banner-2 li:nth-of-type(1) {
  margin-left: 0.22222222rem;
}
.home article .menu {
  margin-top: 0.25925926rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.18518519rem;
  height: 3.46296296rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.home article .menu li,
.home article .menu a {
  display: block;
  width: 1.66666667rem;
  height: 1.66666667rem;
  text-align: center;
}
.home article .menu li img,
.home article .menu a img {
  display: block;
  height: 1.18518519rem;
  width: 1.66666667rem;
}
.home article .menu li span,
.home article .menu a span {
  display: block;
  height: 0.46296296rem;
  line-height: 0.46296296rem;
  font-size: 0.31481481rem;
  color: #757575;
  margin-bottom: 0.14814815rem;
}
.home article .message {
  height: 1.68518519rem;
  width: 100%;
  padding: 0 0.18518519rem;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
}
.home article .message .line {
  display: block;
  float: left;
  border-left: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin: 0.42592593rem 0.25925926rem 0.42592593rem 0.18518519rem;
  width: 1px;
  height: 0.83333333rem;
}
.home article .message img {
  float: left;
  display: block;
  width: 2.00925926rem;
  height: 1.68518519rem;
}
.home article .message .wrapMessage {
  float: left;
  width: 7.12962963rem;
}
.home article .message .wrapMessage ul {
  float: left;
  width: 7.12962963rem;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  position: relative;
  top: 0;
  left: 0;
}
.home article .message .wrapMessage ul li {
  width: 100%;
  height: 1.68518519rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.home article .message .wrapMessage ul li a {
  width: 100%;
  height: 0.90740741rem;
}
.home article .message .wrapMessage ul li a div {
  height: 0.37962963rem;
  line-height: 0.37962963rem;
  width: 100%;
  font-size: 0.35185185rem;
  margin-bottom: 0.12962963rem;
  white-space: nowrap;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home article .message .wrapMessage ul li a div span {
  box-sizing: border-box;
  white-space: nowrap;
  color: #ee2028;
  display: inline-block;
  width: 0.66666667rem;
  height: 0.37962963rem;
  line-height: 0.37962963rem;
  text-align: center;
  border-radius: 0.05555556rem;
  border: 1px solid #ee2028;
  font-size: 0.25925926rem;
  margin-right: 0.18518519rem;
  vertical-align: middle;
}
.home article .newYear {
  width: 100%;
}
.home article .newYear .bg {
  display: block;
  width: 100%;
  background-color: #f4f4f4;
  height: 0.16666667rem;
}
.home article .newYear .newYearWrap {
  background-color: #ff3127;
  width: 100%;
}
.home article .newYear .newYearWrap span {
  height: 0.94444444rem;
  line-height: 0.94444444rem;
  display: block;
  width: 100%;
  font-size: 0.44444444rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.home article .newYear .newYearWrap span img {
  line-height: 0.44444444rem;
  width: 0.98148148rem;
  height: 0.44444444rem;
  vertical-align: middle;
}
.home article .newYear .newYearWrap span img:nth-of-type(1) {
  margin-right: 0.2962963rem;
}
.home article .newYear .newYearWrap span img:nth-of-type(2) {
  margin-left: 0.2962963rem;
}
.home article .newYear .newYearWrap ul {
  box-sizing: border-box;
  width: 100%;
  padding: 0.08333333rem 0.05555556rem 0 0.05555556rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.home article .newYear .newYearWrap ul li,
.home article .newYear .newYearWrap ul a,
.home article .newYear .newYearWrap ul img {
  display: block;
  width: 2.37037037rem;
  height: 3.24074074rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 6.57407407rem;
  padding: 0.16666667rem 0.13888889rem;
  box-sizing: border-box;
  background-color: #fc4423;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li {
  width: 4.83333333rem;
  height: 3.11111111rem;
  background-color: white;
  display: block;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div {
  float: left;
  width: 2.40740741rem;
  height: 3.11111111rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div span {
  display: block;
  font-size: 0.31481481rem;
  color: #757575;
  height: 0.68518519rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div span:nth-of-type(2) {
  line-height: 0.48148148rem;
  height: 0.48148148rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div img {
  width: 2.42592593rem;
  height: 0.68518519rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div a {
  float: left;
  display: block;
  width: 2.40740741rem;
  height: 1.94444444rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li div a img {
  width: 2.40740741rem;
  height: 1.94444444rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li a {
  float: left;
  display: block;
  width: 2.40740741rem;
  height: 3.11111111rem;
}
.home article .newYear .newYearWrap ul:nth-of-type(3) li a img {
  width: 2.40740741rem;
  height: 3.11111111rem;
}
.home article .guess {
  background-color: #f4f4f4;
}
.home article .guess div {
  height: 1.53703704rem;
  width: 100%;
}
.home article .guess div span:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #333333;
  font-size: 0.35185185rem;
  font-weight: 500;
  height: 0.55555556rem;
  padding-top: 0.27777778rem;
}
.home article .guess div span:nth-of-type(1) p {
  display: inline-block;
}
.home article .guess div span:nth-of-type(1) img {
  display: inline-block;
  margin-right: 0.21296296rem;
  height: 0.55555556rem;
  width: 0.55555556rem;
}
.home article .guess div span:nth-of-type(2) {
  display: block;
  text-align: center;
  font-size: 0.2962963rem;
  color: #888888;
  margin-top: 0.13888889rem;
}
.home article .guess ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.home article .guess ul li,
.home article .guess ul a {
  background-color: white;
  display: block;
  height: 6.94444444rem;
  width: 4.96296296rem;
  float: left;
  margin-bottom: 0.07407407rem;
}
.home article .guess ul li img,
.home article .guess ul a img {
  display: block;
  height: 5.51851852rem;
  width: 4.96296296rem;
}
.home article .guess ul li p,
.home article .guess ul a p {
  padding: 0.16666667rem 0.2962963rem 0 0.24074074rem;
  line-height: 0.55555556rem;
  height: 0.55555556rem;
  width: 4.96296296rem;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: 0.35185185rem;
  color: #333333;
  text-align: center;
}
.home article .guess ul li .guess-info,
.home article .guess ul a .guess-info {
  height: 0.85185185rem;
}
.home article .guess ul li .guess-info span,
.home article .guess ul a .guess-info span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.85185185rem;
}
.home article .guess ul li .guess-info span:nth-of-type(1),
.home article .guess ul a .guess-info span:nth-of-type(1) {
  float: left;
  color: #ff5200;
  font-size: 0.33333333rem;
  margin-left: 0.25925926rem;
}
.home article .guess ul li .guess-info span:nth-of-type(2),
.home article .guess ul a .guess-info span:nth-of-type(2) {
  color: #999;
  font-size: 0.2962963rem;
  float: right;
  margin-right: 0.31481481rem;
}
.home article .guess ul li .guess-info ul,
.home article .guess ul a .guess-info ul {
  float: right;
  margin-right: 0.2962963rem;
  height: 0.85185185rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.home article .guess ul li .guess-info ul li,
.home article .guess ul a .guess-info ul li {
  width: 0.07407407rem;
  height: 0.07407407rem;
  border-radius: 50%;
  float: left;
  margin-left: 0.03703704rem;
  background-color: #878787;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.22222222rem;
  width: 100%;
  color: #5c5d63;
  background-color: white;
  border-top: 1px solid #c1c4cd;
}
footer div {
  width: 2rem;
  height: 1.22222222rem;
  float: left;
  text-align: center;
}
footer div span:nth-of-type(1) {
  font-size: 0.55555556rem;
  margin-top: 0.14814815rem;
}
footer div span:nth-of-type(2) {
  font-size: 0.27777778rem;
  margin-top: 0.05555556rem;
}
footer div span {
  text-align: center;
  font-size: 0.27777778rem;
  display: block !important;
}
footer .active {
  color: #ff4311;
}
