body,ul,li,h1{
			margin: 0;
			padding: 0;
			
		}
body{overflow: hidden;}
header{ background: #000; width: 100%; height:9% ;}
header h1{ margin: 0 auto; width:100%;text-align:center; padding: 1% 0;font: 1.6em/100% "å¾®è½¯é›…é»‘";} 
header #light{display: inline-block; color:rgba(255,255,255,0.4);background:-webkit-linear-gradient(-30deg, rgba(255,255,255,0) 0,rgba(255,255,255,1) 30px, rgba(255,255,255,1) 40px, rgba(255,255,255,0) 60px) no-repeat -60px 0,#000;
-webkit-background-clip:-webkit-text;}
#pic_body{background:#262626;  height: 91%;}
#list{ position: relative; width: 100%; height:100%;margin: 0px auto;top: 0%;}
#list span{display: inline-block;width: 100%;height: 100%;}
#list li{    
	width: 160px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 3px 0px #000000;
    transition: transform 0.2s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    transform-origin: center center;
    transform: scale(1);
    
}

#list img{
	width: 150px; height: 90px; border: 5px #fff solid;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

}
#list a{
	display: block;
	width: 100%;
	 height: 100%; 
	 transition: opacity 1s; 
	 opacity: 0;
	 z-index: 9;
	 position: absolute;
	 top: 0;
	 left: 0;
	 overflow: hidden;
	
	 }
#list strong{position: absolute; top: 0; left: 0; width: 160px; height: 100px; z-index: 20;}


.btn {
	position: fixed;
	width: 80px;
	height: 80px;
	color: #fff;
	font-size: 50px;
	background: #000000;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	line-height: 80px;
	box-shadow: 3px 3px 10px #666;
	font-weight: bold;
	cursor: pointer;
	display: none;
	top: 45%;
	transition: 0.2s;
}

#prev {
	left: 2%;
}

#next {
	right: 2%;
}
#range{
	border: #333 solid 1px;
	border-radius: 20px  6px  ;
	background: rgba(0,0,0,0.8);
	width: 70px;
	height: 34px;
	position: absolute;
	text-align: center;
	right: 4%;
	top: 1.5%;
	font-style: normal;
	font: 14px/34px "å¾®è½¯é›…é»‘";
	font-weight: bold;
	color: #fff;
	box-shadow: 0 0 5px 2px rgba(255,255,255,0.6);
	display: block;
	cursor: pointer;
}
#module3d{
	border: #333 solid 1px;
	border-radius:  6px 20px;
	background: rgba(0,0,0,0.8);
	width: 70px;
	height: 34px;
	position: absolute;
	text-align: center;
	left: 4%;
	top: 1.5%;
	font-style: normal;
	font: 14px/34px "å¾®è½¯é›…é»‘";
	font-weight: bold;
	color: #fff;
	box-shadow: 0 0 5px 2px rgba(255,255,255,0.6);
	display: block;
	cursor: pointer;
}


