<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="1.css">
	<script src="vue.js"></script>
</head>
<body>

<script type="text/x-template" id="aaa">
	<table>
		
		<thead>
			<tr>
				<td v-for='title of titles' @click='click(title)'>
					{{title}}
				</td>
			</tr>
		</thead>
		
		<tbody>
			<tr v-for='tableData of filterData'>
				<td v-for='title of titles'>
					{{ tableData[title] }}
				</td>
			</tr>
		</tbody>
		
	</table>
</script>

<!--<script type="text/x-template" id="aaa">
	
</script>-->

<div id="demo">
	Search 
	<input type="text" v-model='searchData'>
	<component :table-datas='tableDatas' :search-data='searchData' :titles='titles'></component>
</div>
<script src="1.js"></script>
</body>
</html>