@media screen and (max-width: 600px){

    #article{
        display: none;
        #top-bg{
            display: flex;
            height: 230px;
            background: url(../img/background-cover.jpg) no-repeat left top #666;
            background-size: cover;
            background-color: #3b6d9b;
            justify-content: center;
            align-items: center;
            .introduce{
                position: relative;
                z-index: 0;
                text-align: center;
                margin-top: 36px;
                width: 80%;
                .tou{
                    img{
                        width: 16vw;
                        height: 16vw;
                        border-radius: 50%;
                        display: inline-block;
                        padding: 2px;
                        background-color: white;
                    }
                }
                h3{
                    color: white;
                    font-size: 1.9rem;
                    font-weight: normal;
                    margin-top: 8px;
                    letter-spacing: 0.16em;
                }
                .geyan{
                    color: #cccccc;
                    font-size: 1rem;                    
                    margin-top: 12px;
                    letter-spacing: 0.2em;
                }
            }
            .mark{
                height: 230px;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(37, 104, 163, 0.6);
                background-image: linear-gradient(140deg,rgba(37, 104, 163, 0.6) 20%, rgba(18, 51, 80, 0.8));
                z-index: 0;
            }
        }
        #ajax{
            display: block;
            font-size: 1rem;
            padding: 0;
            padding-top: 40px;
            margin: auto;
            width: 80%;
            h1{
                font-size: 2.3rem;
            }
            h2{
                font-size: 1.46rem;
            }
            p{
                font-size: 0.98rem;
            }
            code{
                font-size: 0.98rem;
            }
/*             blockquote{
                padding: 10px 20px;
                margin-bottom: 20px;
                border-left: 3px solid $redThemeColor;
                & > p:last-child {
                    margin-bottom: 0;
                }
            }
            a{
                text-decoration: none;
                color: $redThemeColor;
            }
            pre{
                border: 1px solid #c9e1f6;
                margin-bottom: 18px;
                background-color: #e8f2fb;
                border-radius: 3px;
                line-height: 1.5;
                padding: 14px 2.5%;
                font-size: 14px;
                font-weight: normal;
                font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
                code{
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
            code{
                word-wrap: break-word;
                border: 1px solid #c9e1f6;
                margin-bottom: 18px;
                background-color: #e8f2fb;
                border-radius: 3px;
                line-height: 1.5;
                padding: 2px 4px;
                font-size: 14px;
                font-weight: normal;
                font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
            }
            ol{
                margin-left: 42px;
                list-style-type: decimal;
                li{
                    list-style-type: decimal;
                    margin-bottom: 3px;
                }
            } */
        }
    }

    #app{
        #index{
            .introduce{
                .tou{
                    img{
                        width: 18vw;
                        height: 18vw;
                    }
                }
                hr:nth-of-type(2){
                    display: none;
                }
                .geyan{
                    margin-top: 2vh;
                }
                .introduce-1{
                    margin: 0 10vw;
                    letter-spacing: 0.4vw;
                }
                .index-btn,.contact{
                    display: none;
                }
            }
        }
        .top-nav{
            display: block;
            color: rgba(255,255,255,0.8);
            background-color: rgba(51, 51, 51, 0.98);
            .nav-btn{
                position: fixed;
                top: 0;
                z-index: 99;
                width: 100%;
                height: 5.6vh;
                text-align: center;
                box-sizing: border-box;
                padding-top: 1.3vh;
                background-color: rgba(51, 51, 51, 0.98);
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }
            .nav-info{
                position: fixed;
                z-index: 3;
                transform: translate3d(0, -2000px, 0);
                top: 0;
                left: 0;
                width: 100%;
                padding-top: 5.2vh;
                padding-bottom: 4.6vh;
                background-color: rgba(51, 51, 51, 0.98);
                .top-contact{
                    padding-top: 4.6vh;
                    padding-bottom: 3.6vh;
                    width: 100%;
                    li{
                        width: 74%;
                        margin: auto;
                        text-align: center;
                        padding: 1.5vh;
                        border: 1px solid rgba(255,255,255,0.8);
                        margin-bottom: 1.6vh;
                        border-radius: 3vh;
                        vertical-align: middle;
                        a{
                            color: rgba(255,255,255,0.8);
                            font-size: 0.88rem;
                            height: 3.8vw;
                            font-weight: bold;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
                .top-social{
                    display: flex;
                    margin: 0 16vw;
                    justify-content: space-around;
                    li{
                        a{
                            span{
                                color: rgba(255,255,255,0.8);
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}