//配色主题
$wordColor: #666;
$timeColor: #c7c7c7;
$redThemeColor: #BF1827;
$bgSeletColor: #f39ca4;

// js
$keywordColor: #8959a8;
$zhuShiColor: #8e908c;
$stringColor: #718c00;
$numberColor: #f5871f;
$regexpColor: #3e999f;
$paramsColor: #2568A3;
$functionColor: #156F78;
$titleColor: #3D4260;
$built_inColor: #E25440;

// html
$tagColor: rgb(88,175,209);
$nameColor: rgb(224,108,117);
$attrColor: rgb(209,154,102);
$h1h2Color: #333;