* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  width: 100%;
  overflow: hidden;
}
.photo {
  height: 190px;
  width: 1136px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  bottom: 50%;
}
.photo img {
  -webkit-transition: .8s;
          transition: .8s;
  height: 190px;
  width: 310px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-reflect: below 10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
