<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>日历</title>
    <link rel="stylesheet" href="1.css">
    <script src="vue.js"></script>
</head>
<body>
<script type="text/x-template" id="item">
<div>
	<div id='title'>
		<span @click='yearpre'> &lt;&lt; </span>
		<span @click='monthpre'> &lt; </span>
		<span> {{year}}-{{month}} </span>
		<span @click='monthnext'> > </span>
		<span @click='yearnext'> >> </span>
	</div>
	<table>
		<tr>
			<td v-for='i of arrweek'>{{i}}</td>
		</tr>
		<tr v-for='j of 6'>
			<td v-for='k of 7' @click='choseday( j,k )' :class='active( j,k )'>		
				{{(j-1)*7+k-firstweek | filterday(month,arrday)}}
			</td>
		</tr>
	</table>
	<button @click="$emit('close')">关闭</button>
</div>
	
</script>
<h2>(基于Vue创建的日历组件，使用了$emit组件通信，筛选器等)</h2>
<div id="demo">
	
	<input type="text" @click='show=!show' v-model='date'>
	<item v-if='show' @choseday='getday' @close='show=!show'></item>
</div>
<script src="1.js"></script>
	
</body>
</html>







