<nav class="top-nav">
    <div class="nav-btn">
        <span id="top-nav-toggle" class="fa fa-list"></span>
    </div>
    <div class="nav-info">
        <ul class="top-contact">
            <li>
                <a href="javascript:;">主页</a>
            </li>
            <li>
                <a href="javascript:;">博客</a>
            </li>
            <li>
                <a href="javascript:;">简历</a>
            </li>
            <li>
                <a href="javascript:;">关于</a>
            </li>
        </ul>
        <ul class="top-social">
            <li>
                <a href=""><span class="fa fa-weibo"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-github"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-envelope"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-twitter"></span></a>
            </li>
        </ul>
    </div>
</nav>