<div id="index">
    <div class="mark"></div>
    <div class="introduce">
        <div class="tou"><img src="../img/tou.png" alt=""></div>
        <h3>OneV's Den</h3>
        <p class="geyan">上善若水，人淡如菊</p>
        <hr>
        <p class="introduce-1">嗨，我是曹文军，一名web开发者。现居北京，就职于景元文化。正在修行，探求创意之源。</p>
        <hr>
        <p class="introduce-1">ObjC 中国与 objc.io 合作最新作品《函数式 Swift》,《Core Data》及《Swift 进阶》已经发布，泊学网正在开展订阅赠书活动，也欢迎前往了解</p>
        <div class="index-btn">
            <a href="javascript:;" id="index-page">主页</a>
            <a href="javascript:;" id="blog">博客</a>
            <a href="">简历</a>
            <a href="">关于</a>
        </div>
        <div class="contact">
            <a href="" class="fa fa-weibo"></a>
            <a href="" class="fa fa-github"></a>
            <a href="" class="fa fa-envelope"></a>
            <a href="" class="fa fa-twitter"></a>
        </div>
    </div>
</div>

<nav class="top-nav">
    <div class="nav-btn">
        <span id="top-nav-toggle" class="fa fa-list"></span>
    </div>
    <div class="nav-info">
        <ul class="top-contact">
            <li>
                <a href="javascript:;">主页</a>
            </li>
            <li>
                <a href="javascript:;">博客</a>
            </li>
            <li>
                <a href="javascript:;">简历</a>
            </li>
            <li>
                <a href="javascript:;">关于</a>
            </li>
        </ul>
        <ul class="top-social">
            <li>
                <a href=""><span class="fa fa-weibo"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-github"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-envelope"></span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-twitter"></span></a>
            </li>
        </ul>
    </div>
</nav>
