html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media screen and (min-width: 375px) {
  html {
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39);
  }
}

@media screen and (min-width: 415px) {
  html {
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586);
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(137.5% + 0 * (100vw - 1000px) / 1000);
    font-size: calc(20px + 0 * (100vw - 1000px) / 1000);
  }
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/background-cover.89be7e5572.jpg) no-repeat left top #666;
  background-size: cover;
  background-color: #3b6d9b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s width;
  transition: 0.3s width;
}

#welcome .introduce {
  position: relative;
  z-index: 1;
  max-width: 620px;
  text-align: center;
  width: 80%;
}

#welcome .introduce .tou img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
  background-color: white;
}

#welcome .introduce h3 {
  color: white;
  font-size: 2.1rem;
  font-weight: normal;
  margin-top: 8px;
  letter-spacing: 0.16em;
}

#welcome .introduce .geyan {
  color: #cccccc;
  font-size: 0.93rem;
  margin-top: 12px;
  letter-spacing: 0.2em;
}

#welcome .introduce hr:nth-of-type(1) {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}

#welcome .introduce .introduce-1 {
  color: white;
  font-size: 0.84rem;
  line-height: 1.7;
  margin: 0 26px;
}

#welcome .introduce hr:nth-of-type(2) {
  width: 20%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}

#welcome .introduce .index-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

#welcome .introduce .index-btn a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  letter-spacing: 0.1em;
  white-space: nowrap;
  border-radius: 20px;
  text-align: center;
  border: 1px solid white;
  margin: 0 6px;
  font-size: 0.7rem;
  font-weight: bold;
  opacity: 0.8;
}

#welcome .introduce .index-btn a:hover {
  opacity: 1;
}

#welcome .introduce .contact {
  margin-top: 42px;
}

#welcome .introduce .contact a {
  color: white;
  font-size: 1.3rem;
  padding: 6px 8px;
  margin: 0 10px;
  opacity: 0.8;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#welcome .introduce .contact a:hover {
  opacity: 1;
}

#welcome .mark {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(37, 104, 163, 0.6);
  background-image: linear-gradient(140deg, rgba(37, 104, 163, 0.6) 20%, rgba(18, 51, 80, 0.8));
  z-index: 0;
}

@media screen and (max-width: 600px) {
  #welcome {
    height: 100%;
    width: 100%;
  }

  #welcome .introduce .tou img {
    width: 18vw;
    height: 18vw;
  }

  #welcome .introduce hr:nth-of-type(2) {
    display: none;
  }

  #welcome .introduce .geyan {
    margin-top: 2vh;
  }

  #welcome .introduce .introduce-1 {
    margin: 0 10vw;
    letter-spacing: 0.4vw;
  }

  #welcome .introduce .index-btn,
  #welcome .introduce .contact {
    display: none;
  }
}

.top-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .top-nav {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.98);
  }

  .top-nav .nav-btn {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 5.6vh;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 1.3vh;
    background-color: rgba(51, 51, 51, 0.98);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .top-nav .nav-info {
    position: fixed;
    z-index: 3;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5.2vh;
    padding-bottom: 4.6vh;
    background-color: rgba(51, 51, 51, 0.98);
  }

  .top-nav .nav-info .top-contact {
    padding-top: 4.6vh;
    padding-bottom: 3.6vh;
    width: 100%;
  }

  .top-nav .nav-info .top-contact li {
    width: 74%;
    margin: auto;
    text-align: center;
    padding: 1.5vh;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 1.6vh;
    border-radius: 3vh;
    vertical-align: middle;
  }

  .top-nav .nav-info .top-contact li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.88rem;
    height: 3.8vw;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }

  .top-nav .nav-info .top-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .top-nav .nav-info .top-social li a span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4rem;
  }
}

#article #article-wrap {
  color: #666;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  word-break: normal;
  vertical-align: middle;
}

#article #article-wrap h1,
#article #article-wrap h2,
#article #article-wrap h3,
#article #article-wrap h4,
#article #article-wrap h5,
#article #article-wrap h6 {
  color: #333;
  font-weight: lighter;
}

#article #article-wrap h1 {
  font-size: 35px;
  margin-bottom: 7px;
}

#article #article-wrap h2 {
  font-size: 28px;
  margin-top: 14px;
  margin-bottom: 7px;
}

#article #article-wrap h5 {
  letter-spacing: 0px;
  color: #c7c7c7;
  font-weight: normal;
}

#article #article-wrap p {
  margin-bottom: 18px;
}

#article #article-wrap p > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

#article #article-wrap blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 3px solid #BF1827;
}

#article #article-wrap blockquote > p:last-child {
  margin-bottom: 0;
}

#article #article-wrap a {
  text-decoration: none;
  color: #BF1827;
}

#article #article-wrap pre {
  border: 1px solid #c9e1f6;
  margin-bottom: 18px;
  background-color: #e8f2fb;
  border-radius: 3px;
  line-height: 1.5;
  padding: 14px 2.5%;
  font-size: 14px;
  font-weight: normal;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#article #article-wrap pre code {
  border: none;
  padding: 0;
  margin: 0;
}

#article #article-wrap code {
  word-wrap: break-word;
  border: 1px solid #c9e1f6;
  margin-bottom: 18px;
  background-color: #e8f2fb;
  border-radius: 3px;
  line-height: 1.5;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: normal;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#article #article-wrap ol {
  margin-left: 42px;
  list-style-type: decimal;
}

#article #article-wrap ol li {
  list-style-type: decimal;
  margin-bottom: 3px;
}

#article #article-wrap hr {
  margin-bottom: 18px;
}

#article #article-wrap .hljs-comment {
  color: #8e908c;
  font-size: 13px;
}

#article #article-wrap .hljs-keyword {
  color: #8959a8;
}

#article #article-wrap .hljs-regexp {
  color: #3e999f;
}

#article #article-wrap .hljs-string {
  color: #718c00;
}

#article #article-wrap .hljs-params {
  color: #2568A3;
}

#article #article-wrap .hljs-number {
  color: #f5871f;
}

#article #article-wrap .hljs-function {
  color: #156F78;
}

#article #article-wrap .hljs-title {
  color: #3D4260;
}

#article #article-wrap .hljs-built_in {
  color: #E25440;
}

#article #article-wrap .hljs-name {
  color: #e06c75;
}

#article #article-wrap .hljs-attr {
  color: #d19a66;
}

#article #article-wrap .hljs-tag {
  color: #58afd1;
}

#article #article-wrap .hljs-selector-tag {
  color: #d19a66;
}

#article #article-wrap .hljs-attribute {
  color: #d19a66;
}

#article #article-wrap .hljs-selector-id {
  color: #58afd1;
}

#article #article-wrap .hljs-selector-pseudo {
  color: #3e999f;
}

#article #article-wrap .hljs-selector-class {
  color: #f5871f;
}

#article {
  display: block;
}

#article #article-wrap {
  padding: 50px 7%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  width: 70%;
  margin-left: 30%;
}

#article #top-bg {
  display: none;
}

/* .top-bg{
    display: none;
} */

@media screen and (max-width: 600px) {
  #article {
    position: relative;
    z-index: 0;
    background-color: white;
  }

  #article #top-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 230px;
    background: url(../img/background-cover.89be7e5572.jpg) no-repeat left top #666;
    background-size: cover;
    background-color: #3b6d9b;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #article #top-bg .introduce {
    position: relative;
    z-index: 0;
    text-align: center;
    margin-top: 36px;
    width: 80%;
  }

  #article #top-bg .introduce .tou img {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    background-color: white;
  }

  #article #top-bg .introduce h3 {
    color: white;
    font-size: 1.9rem;
    font-weight: normal;
    margin-top: 8px;
    letter-spacing: 0.16em;
  }

  #article #top-bg .introduce .geyan {
    color: #cccccc;
    font-size: 1rem;
    margin-top: 12px;
    letter-spacing: 0.2em;
  }

  #article #top-bg .mark {
    height: 230px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(37, 104, 163, 0.6);
    background-image: linear-gradient(140deg, rgba(37, 104, 163, 0.6) 20%, rgba(18, 51, 80, 0.8));
    z-index: 0;
  }

  #article #article-wrap {
    display: block;
    font-size: 1rem;
    padding: 40px 0;
    padding-top: 40px;
    margin: auto;
    width: 80%;
  }

  #article #article-wrap h1 {
    font-size: 2.3rem;
  }

  #article #article-wrap h2 {
    font-size: 1.46rem;
  }

  #article #article-wrap p {
    font-size: 0.98rem;
  }
}

html,
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  min-height: 100%;
}

html,
body,
#app {
  max-width: 100%;
}

::-moz-selection {
  background: #f39ca4;
}

::selection {
  background: #f39ca4;
}


/*# sourceMappingURL=main.css.map*/