<div class="page">
    <ul>
        <li>
            <div class="title"><a href="">单向数据流动的函数式 View Controller</a></div>
            <p>View Controller 向来是 MVC (Model-View-View Controller) 中最让人头疼的一环，MVC 架构本身并不复杂，但开发者很容易将大量代码扔到用于协调 View 和 Model 的 Controller 中。你不能说这是一种错误，因为 View Controller 所承担的本来就是胶水代码和业务逻辑的部分。但是，持续这样做必定将导致 Model View Controller 变成 Massive View Controller，代码也就一天天烂下去...…</p>
            <div class="info">
                <span>2017-07-13 · 能工巧匠集</span>
                <a href="">继续阅读</a>
            </div>
            <hr>
        </li>
        <li>
            <div class="title">单向数据流动的函数式 View Controller</div>
            <p>View Controller 向来是 MVC (Model-View-View Controller) 中最让人头疼的一环，MVC 架构本身并不复杂，但开发者很容易将大量代码扔到用于协调 View 和 Model 的 Controller 中。你不能说这是一种错误，因为 View Controller 所承担的本来就是胶水代码和业务逻辑的部分。但是，持续这样做必定将导致 Model View Controller 变成 Massive View Controller，代码也就一天天烂下去...…</p>
            <div class="info">
                <span>2017-07-13 · 能工巧匠集</span>
                <a href="">继续阅读</a>
            </div>
            <hr>
        </li>
    </ul>
</div>