* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Arial', '微软雅黑';
}
li {
  list-style: none;
}
#app {
  margin: 0 auto;
  width: 550px;
}
header h1 {
  width: 550px;
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  line-height: 124px;
  height: 124px;
}
header input {
  width: 550px;
  height: 65px;
  padding: 16px 16px 16px 60px;
  border: 2px solid #d6d6d6;
  font-size: 24px;
  box-sizing: border-box;
}
article {
  position: relative;
}
article .selectAll {
  height: 65px;
  line-height: 65px;
  text-align: center;
  width: 45px;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: -65px;
  font-size: 24px;
  color: #e1e1e1;
  box-sizing: border-box;
  outline: none;
}
article ul {
  width: 550px;
  border-left: 2px solid #d6d6d6;
  border-right: 2px solid #d6d6d6;
  box-sizing: border-box;
}
article ul li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #d6d6d6;
  height: 58px;
}
article ul li label {
  display: block;
  float: left;
  height: 58px;
  line-height: 28px;
  width: 505px;
  padding: 15px 60px 15px 15px;
  box-sizing: border-box;
}
article ul li label.active {
  text-decoration: line-through;
  color: rgba(33, 33, 33, 0.4);
}
article ul li label:hover span {
  color: rgba(175, 47, 47, 0.4) !important;
}
article ul li span {
  position: absolute!important;
  top: 0;
  right: 15px;
  color: rgba(0, 0, 0, 0) !important;
  line-height: 58px!important;
}
article ul li input:nth-of-type(1) {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  margin: 9px 0;
  float: left;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  outline: none;
}
article ul li input:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 500px;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  font-size: 24px;
  outline: none;
}
article ul li .glyphicon {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: rgba(0, 128, 0, 0.6);
}
footer {
  position: relative;
  width: 550px;
  height: 50px;
  border: 2px solid #d6d6d6;
  border-top: none;
  box-sizing: border-box;
}
footer .border {
  border: 2px solid rgba(51, 51, 51, 0.6);
  border-radius: 4px;
}
footer button {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.71);
  padding: 4px;
  margin-left: 10px;
  outline: none;
}
footer button:nth-of-type(1) {
  margin-left: 100px;
}
footer span {
  color: rgba(51, 51, 51, 0.71);
  padding: 0 0 0 16px;
  line-height: 50px;
}
button,
input {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
