<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="1.css">
	<script src="vue.js"></script>
	<script src="1.js"></script>
</head>
<body>
	<div id="app">
		<header>
			<h1>todos</h1>
			<input type="text" placeholder="What needs to be done?" v-model="newtodo" @keyup.enter="addList">
		</header>
		<article>
			<input type="checkbox" class="selectAll glyphicon glyphicon-chevron-down">
			<ul>
				<li v-for="(item,index) in listdata">
					<input type="checkbox" name="list" class="glyphicon" :class="{'glyphicon-ok':item.completed}" v-model="item.completed">
					<label :class="{'active':item.completed}" @dblclick="item.active=true" @mouseover="item.hover=true" @mouseout="item.hover=false">{{item.content}}<span class="glyphicon glyphicon-remove" @click="deletetodo(index)"></span></label>
					<input type="text" v-show="item.active" v-focus="item.active" v-model="item.content" @blur="item.active=false" @keyup.enter="item.active=false">
				</li>
			</ul>
		</article>
		<footer v-show="listdata.length">
			<span>{{ left }}</span>
			<button @click="fliterdata=listdata">All</button>
			<button @click="showActive">Active</button>
			<button @click="showCompleted">Completed</button>
			<button @click="clear">Clear completed</button>
		</footer>
	</div>
</body>
</html>